/* styles.css */

/*body {
    background-color: #8e8ea0;
    color: #333;

        background: linear-gradient(to bottom, #E0F7FA 0%, #0288D1 100%);
}*/

/*body {
    background: linear-gradient(to bottom, #E0F7FA 0%, #8e8ea0 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}*/

html, body {
    background-image: url('../images/minimalistic_background_blue_white.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    padding: 0;
}

#main_text {
    font-size: 2vw;
}

.cytoscape-container {
    position: relative;
    width: 100%;
    height: 75vh;
}

#cy {
    width: 100%;
    height: 100%;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.parent-container {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 2%;
}

.leftside-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 75vh;
}

.leftside-container .input-group {
    margin-top: 10%;
}

.leftside-container #clearSelection {
    margin-top: 10%;
    width: 100%;
}

.checkbox-group label {
    display: block;
    margin-bottom: 8px;
}


.rightside-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 75vh;
}

.leftside-container #searchButtonAOP {
    border-radius: 10px;
}

.leftside-container #clearSelection {
    border-radius: 10px;
}

.uploadWrapper {
    width: 100%;
}

#triggerUpload, #openDoseResponseDialog {
    border-radius: 10px;
    width: 100%;
}

.bottom-container {
    display: grid;
    grid-template-columns: 25% 15% 20%;
    align-items: center;
    height: 2vh;
    padding-left: 22%;
    gap: 5%;
}

.bottom-container button {
    border-radius: 10px;
    height: 2.5em;
    padding: 0.5em 1em;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.top-container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 7vh;
}

.search-group {
    margin-right: auto;
    width: 100%;
    margin-bottom: 8%;
}

.search-group label {
    margin-right: 4%;
    white-space: nowrap;
}

.search-field {
    margin-left: auto;
    width: 63%;
    margin-bottom: 8%;
}

.rightside-container label[for="searchFieldKe"],
.rightside-container #searchFieldKE {
    align-self: stretch;
    width: 100%;
}

.rightside-container label[for="searchFieldAOP"],
.rightside-container #searchFieldAOP {
    align-self: stretch;
    width: 100%;
}

/* Styles for the search button */
.search-button {
    margin-left: auto;
    width: 100%;
}

#exportToCytoscape {
    justify-self: start;
    /*margin-left: 16.5%;*/
    width: 100%;
}

#checkboxGene {
    justify-self: start;
    margin-left: 0%;
    width: 16.5%;
    white-space: nowrap;
}

/* Arrange the checkboxes horizontally */
#checkbox-dose {
    display: flex;
    align-items: center;
    gap: 1rem; /* Adjust spacing as needed */
    justify-self: start;
    margin-left: 0;
    width: 16.5%;
    white-space: nowrap;
}

/* Custom styling for checkboxes in #checkbox-dose */
#checkbox-dose input[type="checkbox"] {
    /* Remove default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 20px;
    height: 20px;
    border: 2px solid #aaa;
    border-radius: 4px; /* Change to 50% if you prefer a circular look */
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    margin-right: 5px; /* Optional: spacing between checkbox and label text */
}

/* Hover effect for a subtle change on mouseover */
#checkbox-dose input[type="checkbox"]:hover {
    border-color: #888;
}

/* Style for the checked state */
#checkbox-dose input[type="checkbox"]:checked {
    background-color: #007bff;
    border-color: #007bff;
}

/* Create a custom checkmark using a pseudo-element */
#checkbox-dose input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


.dropdown-container3 {
    gap: 2%;
    width: 100%;
    margin-bottom: 16px
}

.dropdown-container {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    width: 100%;
    margin-bottom: 16px
}

.search-group {
    width: 100%;
}

.search-group label {
    white-space: nowrap;
    margin-bottom: 8px; /* Add space below the label */
}

.search-group select {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.checkbox-group {
    width: 80%;
    margin-top: 5%;
    margin-right: auto;
    text-align: left;
}

#searchGroupStressor, #searchGroupCells, #searchGroupOrgans #searchGroupTaxonomies #searchGroupSex #searchGroupLifeStage {
    width: 100%;
    margin-bottom: 5%;
    flex: 1
}

#searchFieldStressor {
    margin: auto;
    width: 73.5%;
}

#saveButtonLog {
    margin-left: auto;
    width: 90%;
}

#mergeButtonKeyEvent {
    margin-left: auto;
    width: 90%;
}

#stressorDropdown {
    width: 100%;
}

nav img {
    height: 40px;
    margin-right: 30%;
}

/* The popup window */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popupMerge-content {
    background-color: rgba(254, 254, 254, 1);
    width: 40vw;
    max-width: 500px;
    height: 50vh;
    overflow-y: auto;
    border: 1px solid #888;
    margin: auto;
    border-radius: 15px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.popup-top {
    display: grid;
    grid-template-columns: 1fr 1fr 0.3fr;
    padding: 10px;
    gap: 10px;
    align-items: end;
    width: 100%;
    height: 3vh;
}

.input-group select {
    width: 175px;
    max-width: 200%;
    overflow: hidden;
}

.search-group select {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.search-group-sex select {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.modal-second {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    padding: 10px;
    text-align: center;
    height: 35vh;
    width: 100%;
}

.modal-second button {
    width: calc(50%);
    margin: 5px 0;
}

#dynamicButtons {
    height: auto;
    width: 100%;
}

/* The Close Button */
.close {
    /*    color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    */
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.merge-option-group {
    width: 100%;
}

.merge-option-button {
    /* Default styles */
    border-radius: 10px;
    width: 100%;
    gap: 5px;
}

.merge-option-button.active {
    background-color: #4CAF50; /* Green background for active button */
    color: white;
}

.radio-container {
    text-align: left;
    width: 100%;
    position: relative;
    top: -2vh;
}

#nodePopup {
    display: none;
    position: fixed;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    max-width: 800px;
    z-index: 100;
    background: rgba(240, 240, 240, 0.95);
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

button:hover {
    background-color: #66b3ff;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    padding: 1vh;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#saveIcon {
    cursor: pointer;
    width: 4%;
    height: auto;
    margin-right: 2%;
}

#saveStyleIcon {
    cursor: pointer;
    width: 3.3%;
    height: auto;
    margin-right: 2%;
}

#colorBlindActive {
    cursor: pointer;
    width: 4%;
    height: auto;
    margin-right: 2%;
    display: none;
}

#colorBlindNotActive {
    cursor: pointer;
    width: 4%;
    height: auto;
    margin-right: 2%;
}

#emailIcon {
    cursor: pointer;
    width: 6%;
    height: auto;
    margin-right: 4%;
}

.nav-link.active {
    font-weight: bold;
}

#processButton {
    border-radius: 10px;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    left: -40px;
}

.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.popupMerge-content-info {
    background-color: #fff;
    margin: 10% auto; /* Position roughly 10% from the top */
    padding: 20px;
    border-radius: 5px;
    width: 70%;
    max-width: 600px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;
    min-height: 30vh;
}

/* Info section styling */
#infoSection p {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #333;
}

#infoSection ul {
    list-style: disc;
    margin: 10px 0;
    padding-left: 40px;
}

#infoSection li {
    margin-bottom: 8px;
}

#infoSection code {
    background: #f8f8f8;
    padding: 2px 4px;
    font-size: 0.9rem;
    border-radius: 3px;
}

/* Button styling */
#downloadTemplateButton {
    padding: 10px 20px;
    background: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#downloadTemplateButton:hover {
    background: #0056b3;
}

.info-button {
    justify-content: right;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#dose, #chemical, #kePath {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;

}


.doseResponseDialog-content {
    background-color: #fff;
    margin: 0.5% auto; /* 10% from the top and centered */
    padding: 20px;
    border-radius: 8px;
    width: 450px;
    max-width: 90%;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}


/* Title inside the modal */
.doseResponseDialog-content h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 600;
    color: #333;
    text-align: center;
}

/* Wrapper to hold inputs and buttons */
.doseResponseWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Input groups */
.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 14px;
    margin-bottom: 6px;
    color: #555;
}

.input-group input[type="text"] {
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Button group */
.button-group {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

/* Buttons */
.openDose-button {
    padding: 10px 15px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.openDose-button:hover {
    background-color: #0056b3;
}

#ShowToaster {
    visibility: hidden;
    min-width: 250px;
    max-width: 350px;
    background-color: #E91E63;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 16px 20px;
    border-radius: 8px;
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 9999;
    opacity: 0;
}

#ShowToaster span {
    flex: 1;
    margin-right: 12px;
    font-size: 14px;
}

#ShowToaster .close-toast {
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}

#ShowToaster.show {
    visibility: visible;
    opacity: 1;
    animation: slideIn 0.4s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.button-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.file-button {
    padding: 12px 24px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.info-button {
    position: absolute;
    top: -16px;
    right: -16px;
    background-color: #fff;
    border-radius: 50%;
    padding: 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 1000;
}

#infoIcon {
    width: 20px;
    height: 20px;
}

#checkbox-enrichment {
    display: flex;
    align-items: center;
    justify-self: start;
    margin-left: 0;
    white-space: nowrap;
}

.group-help {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    margin-left: 5px;
    font-weight: bold;
    cursor: help;
}

.group-help2 {
    display: inline-block;
    width: 41px;
    height: 18px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    margin-left: 5px;
    font-weight: bold;
    cursor: help;
}

.group-help3 {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    margin-left: 5px;
    font-weight: bold;
    cursor: help;
}

.dose-metrics-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust spacing as needed */
}

.mode-selector {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 5px 10px;
    align-items: center;
}

/* Ensure that each radio input is aligned to the right */
.mode-selector input[type="radio"] {
    justify-self: end;
    align-self: center;
}

/* Ensure that each label is aligned to the left */
.mode-selector label {
    justify-self: start;
    align-self: center;
}

/* Optional: Style the help icon within the label */
.mode-selector .group-help {
    margin-left: 5px;
    font-size: 0.9em;
    color: #666;
    cursor: help;
}

.dose-dropdowns {
    margin-bottom: 1rem;
}


.search-group2 {
    margin-right: auto;
    width: 100%;
}

.search-group3 {
    margin-right: auto;
    width: 85%;
}

#doseResponseDialog .search-group select {
    width: 250px; /* Set your desired fixed width */
    box-sizing: border-box; /* Ensures padding/border don't exceed the width */
}

select {
    width: 150px;
    box-sizing: border-box;
}